{"filter":false,"title":"phpunit.xml","tooltip":"/phpunit.xml","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":17,"column":24},"end":{"row":17,"column":24},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1434643459731,"hash":"512e60dea080860f827770f63024cd2867d23729"}