# Don't send our environment file, this is special for every deploy
.env

# Updates file
updates.md

# Testing is done locally (in cloud9)
/tests

# Flowcharts are for development environment only!
/resources/views/flowcharts

# Dont upload our c9 settings
/.c9

composer.lock
php_errors.log