{"filter":false,"title":".htaccess","tooltip":"/public/.htaccess","undoManager":{"stack":[],"mark":-1,"position":-1},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":15,"column":0},"end":{"row":15,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1432278198062,"hash":"1140e46dbcebd79d0d9486443a42fba4dd6f641d"}